<!DOCTYPE html>
<html>
<head>
  <title>rss2webook - open source Rails</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Typekit -->
  <script type="text/javascript" src="http://use.typekit.com/hpd1mmb.js"></script>
  <script type="text/javascript">try {
      Typekit.load();
  } catch(e) {
  }</script>
</head>
<body>

<a href="http://github.com/jookyboi/rss2webhook" target="_blank">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
</a>

<header class="container_12">
  <div class="left grid_5">
    &nbsp;
    <div id="hook"></div>
    <div id="name">rss2webhook</div>
  </div>
  <div class="right grid_7">
    an open source Rails project
  </div>
  <div class="clear"></div>
</header>

<section class="page">
  <div class="top_pattern"></div>
  <div class="content">
    <div class="container_12">
      <%= yield %>
    </div>
  </div>
  <div class="bottom_pattern"></div>
</section>

<footer>
  <div class="container_12">
    <div class="left grid_9">
      &nbsp;
      <div id="attrib">
        Distributed publicly under the <a href="http://unlicense.org/" target="_blank">Unlicense</a> and
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        coded by <a href="http://roowii.net" target="_blank">roowii.net</a>
      </div>
      <div id="penguin_break"></div>
    </div>
    <div class="right grid_3">
    </div>
  </div>
</footer>


</body>
</html>
